/* ----------------------------------------------------------------
	Custom CSS

	Add all your Custom Styled CSS here for New Styles or
	Overwriting Default Theme Styles for Better Hanlding Updates
-----------------------------------------------------------------*/

.white-section {
		background-color: #FFF;
		padding: 35px 30px;
		-webkit-box-shadow: 0px 1px 1px 0px #dfdfdf;
		box-shadow: 0px 1px 1px 0px #dfdfdf;
		border-radius: 4px;
                opacity: 0.95;
	}

	.white-section label {
		display: block;
		margin-bottom: 15px;
	}

	.dark .white-section {
		background-color: #111;
		-webkit-box-shadow: 0px 1px 1px 0px #444;
		box-shadow: 0px 1px 1px 0px #444;
	}
#mpvsubsubtitle {
    color: #000000 !important;
    text-shadow: 1px 1px 1px rgba(0,0,0,0.075);
}
.ordenow.selectpicker{
    z-index:1060 !important;
}
.ordenow.input-group{
    z-index:2;
}
.redpromo.promo.promo-dark {
	border: 0 !important;
	background-color: #d34f44 !important;
	padding: 30px 200px 30px 30px;
	text-shadow: 1px 1px 1px rgba(0,0,0,0.2);
	border-radius: 3px;
}
.bgcolor-visared{
    background-color: #d34f44 !important;
}
/* Pricing Boxes - Features
-----------------------------------------------------------------*/

.visa-usp-rating { border-bottom: 1px solid rgba(0,0,0,0.075); }

.visa-usp-rating ul {
	margin: 0;
	padding: 1px 0;
	list-style: none;
}

.visa-usp-rating li {
	padding: 6px 0;
	font-size: 24px;
        color:#fec844;
}
.visa-usp-rating label{
    margin-bottom: 0px;
    padding-bottom: 0px;
    font-size: 1.8em;
}

.error {
    border-color: red;
}

#rc-imageselect {
    transform: scale(0.77);
    -webkit-transform: scale(0.77);
    transform-origin: 0 0;
    -webkit-transform-origin: 0 0;
}

.StripeElement {
    background-color: white;
    padding: 8px 12px;
    border-radius: 4px;
    border: 1px solid #dfdfdf;
    box-shadow: 0 0px 0px 0 #e6ebf1;
    -webkit-transition: box-shadow 150ms ease;
    transition: box-shadow 150ms ease;
}

.StripeElement--focus {
    box-shadow: 0 1px 5px 0 #cfd7df;
}

.StripeElement--invalid {
    border-color: #fa755a;
}

.StripeElement--webkit-autofill {
    background-color: #fefde5 !important;
}

#snackbar {
    visibility: hidden;
    min-width: 250px;
    margin-left: -125px;
    background-color: #333;
    color: #fff;
    text-align: center;
    border-radius: 2px;
    padding: 16px;
    position: fixed;
    z-index: 1;
    left: 50%;
    bottom: 30px;
    font-size: 17px;
}

    #snackbar.show {
        visibility: visible;
        -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
        animation: fadein 0.5s, fadeout 0.5s 2.5s;
    }

#snackbar2 {
    visibility: hidden;
    min-width: 250px;
    margin-left: -125px;
    background-color: #333;
    color: #fff;
    text-align: center;
    border-radius: 2px;
    padding: 16px;
    position: fixed;
    z-index: 1;
    left: 50%;
    bottom: 30px;
    font-size: 17px;
}

    #snackbar2.show {
        visibility: visible;
        -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
        animation: fadein 0.5s, fadeout 0.5s 2.5s;
    }

@-webkit-keyframes fadein {
    from {
        bottom: 0;
        opacity: 0;
    }

    to {
        bottom: 30px;
        opacity: 1;
    }
}

@keyframes fadein {
    from {
        bottom: 0;
        opacity: 0;
    }

    to {
        bottom: 30px;
        opacity: 1;
    }
}

@-webkit-keyframes fadeout {
    from {
        bottom: 30px;
        opacity: 1;
    }

    to {
        bottom: 0;
        opacity: 0;
    }
}

@keyframes fadeout {
    from {
        bottom: 30px;
        opacity: 1;
    }

    to {
        bottom: 0;
        opacity: 0;
    }
}