@model DashboardPageData

@{
    Layout = "/Views/Shared/_AdminLayout.cshtml";
}

@section Styles {
    <!-- Stylesheets ============================================= -->
    <link href="https://fonts.googleapis.com/css?family=Lato:300,400,400i,700|Raleway:300,400,500,600,700|Crete+Round:400i" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" href="~/css/bootstrap.css" type="text/css" />
    <link rel="stylesheet" href="~/css/style.css" type="text/css" />
    <link rel="stylesheet" href="~/css/dark.css" type="text/css" />
    <link rel="stylesheet" href="~/css/font-icons.css" type="text/css" />
    <link rel="stylesheet" href="~/css/animate.css" type="text/css" />
    <link rel="stylesheet" href="~/css/magnific-popup.css" type="text/css" />

    <link rel="stylesheet" href="~/css/responsive.css" type="text/css" />

    <!-- Radio Checkbox Plugin -->
    <link rel="stylesheet" href="~/css/components/radio-checkbox.css" type="text/css" />

    <!-- Bootstrap Select CSS -->
    <link rel="stylesheet" href="~/css/components/bs-select.css" type="text/css" />

    <!-- Date & Time Picker CSS -->
    <link rel="stylesheet" href="~/css/datepicker.css" type="text/css" />

    <!-- Bootstrap Data Table Plugin -->
    <link rel="stylesheet" href="~/css/components/bs-datatable.css" type="text/css" />
}

<!-- Header  ============================================= -->
<header id="header" class="dark">

    <div id="header-wrap">

        <div class="container clearfix">

            <div id="primary-menu-trigger"><i class="icon-reorder"></i></div>

            <!-- Logo
            ============================================= -->
            <div id="logo">
                <a href="/" class="standard-logo" data-dark-logo="images/logo.png"><img src="images/logo.png" alt="theInventory"></a>
                <a href="/" class="retina-logo" data-dark-logo="images/logo.png"><img src="images/logo.png" alt="theInventory"></a>
            </div>
            <!--
            #logo end -->
            <!-- Primary Navigation
            ============================================= -->
            <nav id="primary-menu" class="style-6">

                <ul>
                    <li><a href="/"><div>Dashboard</div></a></li>
                    <li class="current"><a href=""><div>Insert Product</div></a></li>
                    <li><a href="/account/logout"><div>Log Out</div></a></li>
                </ul>

            </nav>
            <!-- #primary-menu end -->

        </div>

    </div>

</header>
<!-- #header end -->
<!-- Page Title
============================================= -->
<section id="page-title">

    <div class="container clearfix">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="dashboard"><i class="icon-chevron-left"></i> &nbsp;Back to Dashboard</a></li>
        </ol>
    </div>

</section>
<!-- #page-title end -->
<!-- Content
============================================= -->
<section id="content">

    <div class="content-wrap">

        <div class="container clearfix">

            <div class="col_full card">
                <form id="save-product" name="save-product" class="nobottommargin" asp-action="Insert" asp-controller="Insertion">

                    <div class="card-header">PRODUCT DETAILS</div>
                    <div class="card-body">
                        <div class="form-row">
                            <div class="form-group col-md-6">
                                <label for="inputName">Name</label>
                                <input class="required form-control" id="inputName" name="inputName" value="">
                            </div>
                            <div class="form-group col-md-6">
                                <label for="inputType">Type</label>
                                <input type="text" class="form-control" id="inputType" name="inputType" placeholder="" value="">
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="form-group col-md-12">
                                <label for="inputDesc">Description</label>
                                <input class="required form-control" id="inputDesc" name="inputDesc" value="">
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="form-group col-md-3">
                                <label for="inputWeight">Weight in grams</label>
                                <input type="text" class="form-control" id="inputWeight" name="inputWeight" placeholder="250" value="">
                            </div>
                            <div class="form-group col-md-3">
                                <label for="inputPrice">Price</label>
                                <input type="text" class="form-control" id="inputPrice" name="inputPrice" placeholder="2.50" value="">
                            </div>
                            <div class="form-group col-md-6">
                                <label>Expiry Date</label>
                                <div class="input-group input-daterange travel-date-group">
                                    <input type="text" id="expiryDate" name="expiryDate" value="@DateTime.Today.ToString("dd/MM/yyyy")" class="form-control tleft format today" placeholder="DD/MM/YYYY" />
                                    <div class="input-group-append">
                                        <div class="input-group-text"><i class="icon-calendar2"></i></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="card-footer">
                        <a href="javascript:saveClicked();" class="button button-3d button-mini button-rounded button-red"><i class="icon-save"></i><span>Save</span></a>
                    </div>
                    @if (Model != null && Model.Message != "") { <p>@Model.Message</p>}
                </form>

            </div>

        </div>

    </div>

</section>
<!-- #content end -->

@section Scripts{
    <!-- External JavaScripts
    ============================================= -->
    <script src="~/js/jquery.js"></script>
    <script src="~/js/plugins.js"></script>

    <!-- Bootstrap Select Plugin -->
    <script src="~/js/components/bs-select.js"></script>

    <!-- Moment Plugin -->
    <script src="~/js/components/moment.js"></script>

    <!-- Date & Time Picker JS -->
    <script src="~/js/components/moment.js"></script>
    <script src="~/js/datepicker.js"></script>

    <!-- Footer Scripts
    ============================================= -->
    <script src="~/js/functions.js"></script>

    <script>

        $(function () {

            $('.travel-date-group .today').datepicker({
                autoclose: true,
                startDate: "today",
                todayHighlight: true,
                format: 'dd/mm/yyyy'
            });

        });

        function saveClicked() {
            var allValid = true;

            if (document.getElementById('inputName').value == '') {
                if (allValid) {
                    allValid = false;
                    $("#inputName").focus();
                }

                $("#inputName").addClass('error');
            }
            else
                $("#inputName").removeClass('error');

            if (document.getElementById('inputType').value == '') {
                if (allValid) {
                    allValid = false;
                    $("#inputType").focus();
                }

                $("#inputType").addClass('error');
            }
            else
                $("#inputType").removeClass('error');

            if (document.getElementById('inputWeight').value == '') {
                if (allValid) {
                    allValid = false;
                    $("#inputWeight").focus();
                }

                $("#inputWeight").addClass('error');
            }
            else {
                if ($.isNumeric(document.getElementById('inputWeight').value))
                    $("#inputWeight").removeClass('error');
                else {
                    if (allValid) {
                        allValid = false;
                        $("#inputWeight").focus();
                    }

                    $("#inputWeight").addClass('error');
                }
            }

            if (document.getElementById('inputPrice').value == '') {
                if (allValid) {
                    allValid = false;
                    $("#inputPrice").focus();
                }

                $("#inputPrice").addClass('error');
            }
            else {
                if ($.isNumeric(document.getElementById('inputPrice').value))
                    $("#inputPrice").removeClass('error');
                else {
                    if (allValid) {
                        allValid = false;
                        $("#inputPrice").focus();
                    }

                    $("#inputPrice").addClass('error');
                }
            }

            if (document.getElementById('expiryDate').value == '') {
                if (allValid) {
                    allValid = false;
                    $("#expiryDate").focus();
                }

                $("#expiryDate").addClass('error');
            }
            else {
                if (moment(document.getElementById('expiryDate').value, 'DD/MM/YYYY', true).isValid())
                    $("#expiryDate").removeClass('error');
                else {
                    if (allValid) {
                        allValid = false;
                        $("#expiryDate").focus();
                    }

                    $("#expiryDate").addClass('error');
                }
            }

            if (allValid) {
                $('#save-product').submit();
            }
        }
    </script>
}